<div class="title_wrapper">
  <h1 class="dancing center-align main_title">
    Drew & Sea-Anna
    <br class="show-on-small hide-on-med-and-up" />
    Are Getting Married
  </h1>
</div>


<div class="home_image_background"></div>

<div class="container">
  <div class="section_wrapper">
    <p class="center-align">
      2020 has been a crazy year.
    </p>
    <p class="center-align">
      Sea-Anna & I got engaged 10/29/2019 and were so excited to plan our wedding.
      We had no idea we'd be planning it during a pandemic!
    </p>
    <p class="center-align">
      Due to the circumstances with COVID-19, we've had to cancel our previous plans and are doing a micro-wedding at the
      end of August 2020. Unfortunately, capacity is extremely limited due to state regulations and rules provided by the
      venue. Only immediate family members and the wedding party are allowed to physically attend.
      We hope you understand our difficulty in this decision.
    </p>
    <p class="center-align">
      We still want you to celebrate with us!
    </p>
    <p class="center-align">
      We'll be running an online meeting from 5pm to 6pm via Google Meet during the ceremony and shortly into the reception.
      Click
      <%= link_to "this link", "https://meet.google.com/hxw-ajpi-bos" %>
      to join the meeting shortly before 5pm on August 23rd.
    </p>
  </div>
</div>

<div class="second_image_background"></div>

<div class="container">
  <div class="section_wrapper">
    <h1 class="dancing center-align">
      Event Details
    </h1>
    <br/>
    <p class="center-align">
      When
    </p>
    <p class="center-align event_details">
      August 23rd 2020
      <br />
      4:30pm - 8pm
    </p>
    <br/>
    <p class="center-align">
      Where
    </p>
    <p class="center-align event_details">
      The Lafayette Hotel
      <br/>
      San Diego, CA
    </p>
  </div>
</div>

<div class="center-align section_wrapper">
  <div class="hotel_grid">
    <div class="image_wrapper">
      <div class="hotel_image_background"></div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.409814371061!2d-117.14290104907711!3d32.75485879232841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d954e48e9c792f%3A0xf683f1f59b87baf5!2sThe%20Lafayette%20Hotel%2C%20Swim%20Club%20%26%20Bungalows!5e0!3m2!1sen!2sus!4v1593062815924!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>

<div class="container">
  <div class="section_wrapper">
    <h1 class="dancing center-align">
      Schedule
    </h1>
    <br/>
    <p class="center-align event_detail_label">
      4:30pm
    </p>
    <p class="center-align event_details">
      Guests arrive
    </p>
    <p class="center-align event_detail_label">
      5:00pm
    </p>
    <p class="center-align event_details">
      Ceremony
    </p>
    <p class="center-align event_detail_label">
      5:30pm
    </p>
    <p class="center-align event_details">
      Photos
    </p>
    <p class="center-align event_detail_label">
      6pm
    </p>
    <p class="center-align event_details">
      Reception
    </p>
    <p class="center-align event_detail_label">
      8pm
    </p>
    <p class="center-align event_details">
      Party's over
    </p>
    <br/>
  </div>
</div>

<div class="center-align section_wrapper no_padding_bottom">
  <div class="image_grid">
    <div class="image_wrapper">
      <div class="fourth_image_background"></div>
    </div>
    <div class="image_wrapper">
      <div class="fifth_image_background"></div>
    </div>
    <div class="image_wrapper">
      <div class="sixth_image_background"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section_wrapper">
    <h1 class="dancing center-align">
      Other Details
    </h1>
    <br/>
    <p class="center-align event_detail_label">
      Dress
    </p>
    <p class="center-align event_details no_margin_bottom">
      Summer Semi-formal
    </p>
    <p class="center-align event_detail_label margin_top_5">
      No shorts
      <br/>
      Suits okay but not required
      <br/>
      Short / cuffed sleeves okay
      <br/>
      Summer dresses okay
    </p>
    <br/>
    <br/>
    <p class="center-align event_detail_label">
      Food & Drink
    </p>
    <p class="center-align event_details no_margin_bottom">
      Drinks & Hors d'oeuvres
    </p>
    <p class="center-align event_detail_label margin_top_5">
      Flatbreads & snacks
      <br/>
      2 hour open bar
      <br/>
      No dinner
    </p>
    <br/>
    <br/>
    <p class="center-align event_detail_label">
      COVID Regulations
    </p>
    <p class="center-align event_details no_margin_bottom">
      Masks & Social Distancing
    </p>
    <p class="center-align event_detail_label margin_top_5">
      Masks will be provided and are required when inside the hotel
      <br/>
      You don't need a mask if you're in our venue, taking photos, eating, or drinking
      <br/>
      Ex. you don't need a mask at the ceremony but you will if you leave to use the bathroom
      <br/>
      Chairs and tables will be set in a way that allows us to mingle safely
      <br/>
      Regulations can change so we'll try to keep you up-to-date
    </p>
    <br/>
    <br/>
    <p class="center-align event_detail_label">
      Gifts & Cards
    </p>
    <p class="center-align event_details no_margin_bottom">
      Optional & Appreciated
    </p>
    <p class="center-align event_detail_label margin_top_5">
      We want to be clear that no one is required to give us a gift. Your friendship is what's most important for us.
      <br/>
      <br/>
      However, if you want to give us something, we would appreciate cash rather than a traditional registry.
      <br/>
      The money will be used for our honeymoon or other adventurous trips.
      <br/>
      <br/>
      <br/>
      All cards can be mailed to:
      <br/>
      <br/>
      Mr. & Mrs. Haines
      <br/>
      3782 Curtis St.
      <br/>
      San Diego, CA 92106
      <br/>
      <br/>
    </p>
    <br/>
    <p class="center-align event_detail_label">
      Drew's Venmo
      <br/>
      You can click the QR Code or scan it with your Venmo app.
    </p>
    <br/>
    <div class="center-align">
      <%= link_to "https://venmo.com/code?user_id=1449504209371136342", target: :blank do %>
        <%= image_tag "venmo.png", class: 'venmo'  %>
      <% end %>
    </div>
    <br/>
    <h1 class="dancing center-align">
      Adventure Is Out There
    </h1>
  </div>
</div>

<div class="last_image_background"></div>
