<div class="title_wrapper">
  <h1 class="dancing center-align main_title">
    Drew & Sea-Anna
    <br class="show-on-small hide-on-med-and-up" />
    Are Getting Married
  </h1>
</div>


<div class="home_image_background"></div>

<div class="container">
  <div class="section_wrapper">
    <p class="center-align">
      2020 has been a crazy year.
    </p>
    <p class="center-align">
      We got engaged 10/29/2019 and were so excited to plan our wedding.
      We had no idea we'd be planning it during a pandemic!
    </p>
    <p class="center-align">
      Due to the circumstances with COVID-19, we've had to cancel our previous plans and are doing a micro-wedding at the
      end of August 2020. Unfortunately, capacity is extremely limited due to state regulations and rules provided by the
      venue. <span class="bold">Only immediate family members and the wedding party are allowed to physically attend.</span>
      We hope you understand our difficulty in this decision.
    </p>
    <p class="center-align">
      We still want you to celebrate with us!
    </p>
    <p class="center-align">
      We'll be running an online meeting from 5pm to 6:30pm via Google Meet during the ceremony and shortly into the reception.
    </p>
    <p class="center-align">
      <a href="#gifts_and_cards">Registry & Cards</a>
    </p>
  </div>
</div>

<div class="second_image_background"></div>

<div class="container">
  <div class="section_wrapper">
    <h1 class="dancing center-align">
      Online Meeting Details
    </h1>
    <br/>
    <p class="center-align">
      When
    </p>
    <p class="center-align event_details">
      August 23rd 2020
      <br />
      5pm - 6:30pm
    </p>
    <br/>
    <p class="center-align">
      Where
    </p>
    <p class="center-align event_details no_margin_bottom">
      <%= link_to "Google Meet", "https://meet.google.com/hxw-ajpi-bos" %>
    </p>
    <p class="center-align margin_top_5">
      You don't need a Gmail account to join.
      <br/>
      One of our friends, Christine Benedict, will be running the call and ready to greet you.
    </p>
    <br/>
    <p class="center-align event_details">
      <%= link_to "https://forms.gle/LsY81zcf1GtsZFfV8", target: :blank do %>
        RSVP Here
        <br class="hide-on-med-and-up"/>
        for the Online Meeting
      <% end %>
    </p>
  </div>
</div>

<div class="center-align section_wrapper no_padding_bottom">
  <div class="image_grid">
    <div class="image_wrapper">
      <div class="fourth_image_background"></div>
    </div>
    <div class="image_wrapper hide-on-small-only">
      <div class="fifth_image_background"></div>
    </div>
    <div class="image_wrapper hide-on-small-only">
      <div class="sixth_image_background"></div>
    </div>
  </div>
</div>


<div class="container">
  <div class="section_wrapper">
    <h1 class="dancing center-align">
      Schedule
    </h1>
    <br/>
    <p class="center-align event_detail_label">
      4:45pm
    </p>
    <p class="center-align event_details">
      Go to Google Meet
    </p>
    <p class="center-align event_detail_label">
      5:00pm
    </p>
    <p class="center-align event_details">
      Ceremony
    </p>
    <p class="center-align event_detail_label">
      5:30pm
    </p>
    <p class="center-align event_details">
      Break for Photos
    </p>
    <p class="center-align event_detail_label">
      6pm
    </p>
    <p class="center-align event_details">
      Toasts & Reception
    </p>
    <p class="center-align event_detail_label">
      6:30pm
    </p>
    <p class="center-align event_details">
      Meeting's Over
    </p>
    <br/>
  </div>
</div>

<div class="hands_image_background"></div>

<div class="container">
  <div class="section_wrapper">
    <h1 class="dancing center-align">
      Other Details
    </h1>
    <br/>
    <p class="center-align event_detail_label">
      Dress
    </p>
    <p class="center-align event_details margin_bottom">
      No Dress Code
    </p>
    <p class="center-align event_detail_label margin_top_5">
      No need to dress up for the meeting.
      <br/>
      If you're sharing your video, just make sure you're wearing something!
    </p>
    <br/>
    <br/>
    <p class="center-align event_detail_label">
      Food & Drink
    </p>
    <p class="center-align event_details margin_bottom">
      Not Provided
    </p>
    <p class="center-align event_detail_label margin_top_5">
      Since you are watching from home, we can't provide food or drinks.
      <br/>
      Feel free to have a drink ready to toast with us!
    </p>
    <br/>
    <br/>
    <p class="center-align event_detail_label">
      Time
    </p>
    <p class="center-align event_details margin_bottom">
      Log On Early
    </p>
    <p class="center-align event_detail_label margin_top_5">
      You'll want a few extra minutes to get set up.
      <br/>
      The ceremony starts at 5pm, but it is important to log on early (4:45pm).
      <br/>
      Google Meet may need to access to your camera & microphone or install additional plugins.
    </p>
    <p id="gifts_and_cards" class="center-align event_detail_label">
      Gifts & Cards
    </p>
    <p class="center-align event_details margin_bottom">
      Optional & Appreciated
    </p>
    <p class="center-align event_detail_label margin_top_5">
      We want to be clear that no one is required to give us a gift. Your friendship is what's most important for us.
      <br/>
      <br/>
      However, if you want to give us something, we would appreciate cash rather than a traditional registry.
      <br class="hide-on-small-only"/>
      The money will be used for our honeymoon, adventurous trips, or just stuff for us to start our lives together.
      <br/>
      <br/>
      <br/>
      All cards can be mailed to:
      <br/>
      <br/>
      Mr. & Mrs. Haines
      <br/>
      3782 Curtis St.
      <br/>
      San Diego, CA 92106
      <br/>
      <br/>
    </p>
    <br/>
    <p class="center-align event_detail_label">
      Drew's Venmo
      <br/>
      <br/>
      You can click the QR Code
      <br class="hide-on-med-and-up"/>
      or scan it with your Venmo app.
    </p>
    <br/>
    <div class="center-align">
      <%= link_to "https://venmo.com/code?user_id=1449504209371136342", target: :blank do %>
        <%= image_tag "venmo.png", class: 'venmo'  %>
      <% end %>
    </div>
    <br/>
    <h1 class="dancing center-align">
      Adventure
      <br class="hide-on-med-and-up"/>
      Is Out There
    </h1>
  </div>
</div>

<div class="center-align section_wrapper no_padding_bottom">
  <div class="image_grid_2">
    <div class="image_wrapper hide-on-small-only">
      <div class="beach_image_background"></div>
    </div>
    <div class="image_wrapper">
      <div class="beach2_image_background"></div>
    </div>
  </div>
</div>

<div class="center-align">
  <p>
    Made by us ... cause we're software engineers!
  </p>
</div>
