/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .dancing {
   font-family: 'Dancing Script', cursive;
 }

 html {
   scroll-behavior:smooth;
 }

 body {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
 }

 iframe {
  max-width: 100% !important;
}

.home_image_background {
  background-image: image_url('proposal.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second_image_background {
  background-image: image_url('drew_sea.jpg');
  height: 100vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fourth_image_background {
  background-image: image_url('skating.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fifth_image_background {
  background-image: image_url('kiss.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sixth_image_background {
  background-image: image_url('hands_up.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hotel_image_background {
  background-image: image_url('hotel.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.beach_image_background {
  background-image: image_url('beach.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.beach2_image_background {
  background-image: image_url('beach2.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hands_image_background {
  background-image: image_url('hands.jpg');
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title_wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
}


.main_title {
  display: inline-block;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  color: white;
  padding: 10px 30px;
  margin: auto;
}

.section_wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.event_detail_label {
  margin-bottom: 0px;
}

.event_details {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.hotel_grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.image_grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
}

.image_grid_2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
}

.image_wrapper {
  position: relative;
  height: 100%;
}

.no_padding_bottom {
  padding-bottom: 0px;
}

.no_margin_bottom {
  margin-bottom: 0px;
}

.margin_top_5 {
  margin-top: 5px;
}

.margin_bottom {
  margin-bottom: 10px;
}

.live_stream_details {
  margin-bottom: 20px;
  font-size: 18px;
}

.venmo {
  max-width: 200px;
}

.bold {
  font-weight: bold;
}

#gifts_and_cards {
  padding-top: 50px;
}

.img_wrapper {
  text-align: center;
}

.twitch_mobile {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-radius: 15px;
  box-shadow: 3px 3px 12px -4px rgba(0,0,0,.51);
}

.twitch_desktop {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 15px;
  box-shadow: 3px 3px 12px -4px rgba(0,0,0,.51);
}

@media (max-width: 600px) {
  .main_title {
    font-size: 40px;
    border-radius: 0px;
    width: 100%;
  }

  .home_image_background {
    background-position: -265px center;
  }

  .second_image_background {
    background-position: -200px center;
  }

  .hands_image_background {
    background-position: -130px center;
  }

  .hotel_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 450px;
  }

  .image_grid {
    grid-template-columns: 1fr;
  }

  .image_grid_2 {
    grid-template-columns: 1fr;
  }

  .last_image_background {
    background-position: -500px center;
  }
}
